/* Fullscreen black background */
body, html {
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    overflow: hidden;
    height: 500vh;
    width: 500vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 1000vw;
    height: 1000vh;
    display: block;
    border: none;
    background-color: #000;
}
